 <section id="search" class="search-wrap">
    <h1 class="mb-5" style="color:orange">Find A Job As a Pogrammer</h1>
    <form action="/jobs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Javascript, PHP, Rails, etc...">
      <input type="submit" value="Search">
    </form>
  </section>