<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">


  <link rel="stylesheet" href="/css/style.css">
  
</head>

<body>

 

<!------ Include the above in your HEAD tag ---------->

    <div class="container">   
         {{#each errors}}
        <div class="error">
           <p style="text-align: center;">{{text}}</p>
        </div>
         {{/each}} 
        <div id="loginbox" style="margin-top:50px;" class="container mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div style="color:orange;font-weight:bold">Sign In</div>
                        <hr>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <form action="/users/authentication" method="POST">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-user"></i></span>
                                        <label  class="col-md-3 control-label"> Email</label>
                                        <input type="text" class="form-control" name="email" value="" placeholder="Enter your email">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-key"></i></span>
                                        <label  class="col-md-3 control-label">Password</label> 
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="Enter your password">
                                    </div>
               
                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <button type="submit" class="btn btn-success">Login  </button>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account! 
                                        <a href="/signup">
                                            Sign Up Here
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            </form>     



                        </div>                     
                    </div>  
        </div>
         
    </div>
    
</body>

</html>